beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
fastapi==0.116.1
idna==3.13
libsql==0.1.11
pydantic==2.11.7
requests==2.33.1
starlette==0.47.2
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.35.0
